version: "3.9"



services:
  server:
    build: ./server
    container_name: express-server
    ports:
      - "5005:5005"
    networks:
      - fullstack-network
    restart: unless-stopped
  client:
    build: ./client
    container_name: react-client
    ports:
      - "3005:3005"
    networks:
      - fullstack-network
    depends_on:
      - server
    restart: unless-stopped


networks:
  fullstack-network:
    driver: bridge
